In [1]:
%pip install pandas requests sqlalchemy bs4

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.2.3)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\lib\site-packages (1.3.20)
Collecting bs4
  Using cached bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: beautifulsoup4 in c:\users\user\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1277 sha256=cdedb6e42d7607231251e9d17c1b392736edfd5851d231240e72261d5288de8a
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\75\78\21\68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Note: you may need to restart the kernel to use updated packages.Successfully built bs4

WARNING: Ignoring invalid distribution -illow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\user\anaconda3\lib\site-packages)
WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\user\anaconda3\python.exe -m pip install --upgrade pip' command.

Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [71]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [2]:
#request url
url = "https://en.wikipedia.org/wiki/COVID-19_lockdowns"
wiki_class = "wikitable sortable"
response = requests.get(url)
print(response.status_code)

200

In [81]:
soup = BeautifulSoup(response.text,"html.parser")
locktable = soup.find('table',class_="wikitable")
# locktable

In [7]:
df=pd.read_html(str(locktable))
# df

[                        vteCOVID-19 pandemic lockdowns  \
                                    Country / territory
                                    Country / territory
 0                                              Albania
 1                                              Algeria
 2                                              Algeria
 3                                            Argentina
 4                                            Argentina
 ..                                                 ...
 235                                            Vietnam
 236                                            Vietnam
 237                                            Vietnam
 238                                           Zimbabwe
 239  Outbreak ongoing: Lockdown data as of 14 Novem...

                                                         \
                                                  Place
                                                  Place
 0                                              Albania
 1                                              Algiers
 2                                                Blida
 3                                 Greater Buenos Aires
 4                                  Rest of the country
 ..                                                 ...
 235                                          Hai Duong
 236                                           Bac Ninh
 237                                          Bac Giang
 238                                           Zimbabwe
 239  Outbreak ongoing: Lockdown data as of 14 Novem...

                                                         \
                                         First lockdown
                                             Start date
 0                                       2020-03-13[77]
 1                                       2020-03-23[79]
 2                                       2020-03-23[79]
 3                                       2020-03-19[81]
 4                                       2020-03-19[81]
 ..                                                 ...
 235                                                NaN
 236                                                NaN
 237                                                NaN
 238                                    2020-03-30[497]
 239  Outbreak ongoing: Lockdown data as of 14 Novem...

                                                         \

                                               End date
 0                                       2020-06-01[78]
 1                                       2020-05-14[80]
 2                                       2020-05-14[80]
 3                                       2020-11-08[82]
 4                                       2020-05-10[85]
 ..                                                 ...
 235                                                NaN
 236                                                NaN
 237                                                NaN
 238                                    2020-05-02[498]
 239  Outbreak ongoing: Lockdown data as of 14 Novem...

                                                         \

                                          Length (days)
 0                                                   80
 1                                                   52
 2                                                   52
 3                                                  234
 4                                                   52
 ..                                                 ...
 235                                                 21
 236                                                 21
 237                                                 21
 238                                                 33
 239  Outbreak ongoing: Lockdown data as of 14 Novem...

                                                         \
                                        Second lockdown
                                             Start date
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                       2021-05-22[83]
 4                                       2021-05-22[83]
 ..                                                 ...
 235                                    2021-02-16[492]
 236                               2021-05-18[493][494]
 237                               2021-05-18[495][496]
 238                                                NaN
 239  Outbreak ongoing: Lockdown data as of 14 Novem...

                                                         \

                                               End date
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                           2021-05-30
 4                                           2021-05-30
 ..                                                 ...
 235                                         2021-03-02
 236                                                NaN
 237                                                NaN
 238                                                NaN
 239  Outbreak ongoing: Lockdown data as of 14 Novem...

                                                         \

                                          Length (days)
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                                    9
 4                                                    9
 ..                                                 ...
 235                                                 14
 236                                                 23
 237                                                 23
 238                                                NaN
 239  Outbreak ongoing: Lockdown data as of 14 Novem...

                                                         \
                                         Third lockdown
                                             Start date
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                       2021-06-05[84]
 4                                       2021-06-05[84]
 ..                                                 ...
 235                                                NaN
 236                                                NaN
 237                                                NaN
 238                                                NaN
 239  Outbreak ongoing: Lockdown data as of 14 Novem...

                                                         ...  \
                                                         ...
                                               End date  ...
 0                                                  NaN  ...
 1                                                  NaN  ...
 2                                                  NaN  ...
 3                                           2021-06-06  ...
 4                                           2021-06-06  ...
 ..                                                 ...  ...
 235                                                NaN  ...
 236                                                NaN  ...
 237                                                NaN  ...
 238                                                NaN  ...
 239  Outbreak ongoing: Lockdown data as of 14 Novem...  ...

                                                         \
                                         Sixth lockdown
                                          Length (days)
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 235                                                NaN
 236                                                NaN
 237                                                NaN
 238                                                NaN
 239  Outbreak ongoing: Lockdown data as of 14 Novem...

                                                         \
                                       Seventh lockdown
                                             Start date
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 235                                                NaN
 236                                                NaN
 237                                                NaN
 238                                                NaN
 239  Outbreak ongoing: Lockdown data as of 14 Novem...

                                                         \

                                               End date
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 235                                                NaN
 236                                                NaN
 237                                                NaN
 238                                                NaN
 239  Outbreak ongoing: Lockdown data as of 14 Novem...

                                                         \

                                          Length (days)
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 235                                                NaN
 236                                                NaN
 237                                                NaN
 238                                                NaN
 239  Outbreak ongoing: Lockdown data as of 14 Novem...

                                                         \
                                        Eighth lockdown
                                             Start date
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 235                                                NaN
 236                                                NaN
 237                                                NaN
 238                                                NaN
 239  Outbreak ongoing: Lockdown data as of 14 Novem...

                                                         \

                                               End date
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 235                                                NaN
 236                                                NaN
 237                                                NaN
 238                                                NaN
 239  Outbreak ongoing: Lockdown data as of 14 Novem...

                                                         \

                                          Length (days)
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 235                                                NaN
 236                                                NaN
 237                                                NaN
 238                                                NaN
 239  Outbreak ongoing: Lockdown data as of 14 Novem...

                                                         \
                                    Total length (days)
                                    Total length (days)
 0                                                   80
 1                                                   52
 2                                                   52
 3                                                  245
 4                                                   63
 ..                                                 ...
 235                                                 35
 236                                                 23
 237                                                 23
 238                                                 33
 239  Outbreak ongoing: Lockdown data as of 14 Novem...


                                                  Level Unnamed: 28_level_1
                                                  Level Unnamed: 28_level_2
 0                                             National                 NaN
 1                                                 City                 NaN
 2                                                 City                 NaN
 3                                    Metropolitan area                 NaN
 4                                             National                 NaN
 ..                                                 ...                 ...
 235  Province, Chi Linh city lockdown began from 28...                 NaN
 236                             4 districts and 1 city                 NaN
 237                                        6 districts                 NaN
 238                                           National                 NaN
 239  Outbreak ongoing: Lockdown data as of 14 Novem...                 NaN

 [240 rows x 29 columns]]

In [18]:
df[0].iloc[91,:]

vteCOVID-19 pandemic lockdowns  Country / territory  Country / territory             France
                                Place                Place                            Paris
                                First lockdown       Start date                         NaN
                                                     End date                           NaN
                                                     Length (days)                       55
                                Second lockdown      Start date                         NaN
                                                     End date                           NaN
                                                     Length (days)                       46
                                Third lockdown       Start date             2021-03-19[252]
                                                     End date                    2021-04-18
                                                     Length (days)                       30
                                Fourth lockdown      Start date                         NaN
                                                     End date                           NaN
                                                     Length (days)                      NaN
                                Fifth lockdown       Start date                         NaN
                                                     End date                           NaN
                                                     Length (days)                      NaN
                                Sixth lockdown       Start date                         NaN
                                                     End date                           NaN
                                                     Length (days)                      NaN
                                Seventh lockdown     Start date                         NaN
                                                     End date                           NaN
                                                     Length (days)                      NaN
                                Eighth lockdown      Start date                         NaN
                                                     End date                           NaN
                                                     Length (days)                      NaN
                                Total length (days)  Total length (days)                131
                                Level                Level                           Region
                                Unnamed: 28_level_1  Unnamed: 28_level_2                NaN
Name: 91, dtype: object

In [21]:
df_nat = pd.DataFrame(df[0].iloc[90,:])
df_nat

                                                                                     90
vteCOVID-19 pandemic lockdowns Country / territory Country / territory           France
                               Place               Place                     Nationwide
                               First lockdown      Start date           2020-03-17[247]
                                                   End date             2020-05-11[248]
                                                   Length (days)                     55
                               Second lockdown     Start date           2020-10-30[249]
                                                   End date             2020-12-15[250]
                                                   Length (days)                     46
                               Third lockdown      Start date           2021-04-04[251]
                                                   End date             2021-05-03[251]
                                                   Length (days)                     29
                               Fourth lockdown     Start date                       NaN
                                                   End date                         NaN
                                                   Length (days)                    NaN
                               Fifth lockdown      Start date                       NaN
                                                   End date                         NaN
                                                   Length (days)                    NaN
                               Sixth lockdown      Start date                       NaN
                                                   End date                         NaN
                                                   Length (days)                    NaN
                               Seventh lockdown    Start date                       NaN
                                                   End date                         NaN
                                                   Length (days)                    NaN
                               Eighth lockdown     Start date                       NaN
                                                   End date                         NaN
                                                   Length (days)                    NaN
                               Total length (days) Total length (days)              130
                               Level               Level                       National
                               Unnamed: 28_level_1 Unnamed: 28_level_2              NaN

In [24]:
df_par = pd.DataFrame(df[0].iloc[91,:])
df_par
# print(df_par.columns)

                                                                                     91
vteCOVID-19 pandemic lockdowns Country / territory Country / territory           France
                               Place               Place                          Paris
                               First lockdown      Start date                       NaN
                                                   End date                         NaN
                                                   Length (days)                     55
                               Second lockdown     Start date                       NaN
                                                   End date                         NaN
                                                   Length (days)                     46
                               Third lockdown      Start date           2021-03-19[252]
                                                   End date                  2021-04-18
                                                   Length (days)                     30
                               Fourth lockdown     Start date                       NaN
                                                   End date                         NaN
                                                   Length (days)                    NaN
                               Fifth lockdown      Start date                       NaN
                                                   End date                         NaN
                                                   Length (days)                    NaN
                               Sixth lockdown      Start date                       NaN
                                                   End date                         NaN
                                                   Length (days)                    NaN
                               Seventh lockdown    Start date                       NaN
                                                   End date                         NaN
                                                   Length (days)                    NaN
                               Eighth lockdown     Start date                       NaN
                                                   End date                         NaN
                                                   Length (days)                    NaN
                               Total length (days) Total length (days)              131
                               Level               Level                         Region
                               Unnamed: 28_level_1 Unnamed: 28_level_2              NaN

In [29]:
df_par_clean = df_par.reset_index().drop('level_0',axis=1)
df_par_clean

                level_1              level_2               91
0   Country / territory  Country / territory           France
1                 Place                Place            Paris
2        First lockdown           Start date              NaN
3        First lockdown             End date              NaN
4        First lockdown        Length (days)               55
5       Second lockdown           Start date              NaN
6       Second lockdown             End date              NaN
7       Second lockdown        Length (days)               46
8        Third lockdown           Start date  2021-03-19[252]
9        Third lockdown             End date       2021-04-18
10       Third lockdown        Length (days)               30
11      Fourth lockdown           Start date              NaN
12      Fourth lockdown             End date              NaN
13      Fourth lockdown        Length (days)              NaN
14       Fifth lockdown           Start date              NaN
15       Fifth lockdown             End date              NaN
16       Fifth lockdown        Length (days)              NaN
17       Sixth lockdown           Start date              NaN
18       Sixth lockdown             End date              NaN
19       Sixth lockdown        Length (days)              NaN
20     Seventh lockdown           Start date              NaN
21     Seventh lockdown             End date              NaN
22     Seventh lockdown        Length (days)              NaN
23      Eighth lockdown           Start date              NaN
24      Eighth lockdown             End date              NaN
25      Eighth lockdown        Length (days)              NaN
26  Total length (days)  Total length (days)              131
27                Level                Level           Region
28  Unnamed: 28_level_1  Unnamed: 28_level_2              NaN

In [34]:
df_par_clean1 = df_par_clean.rename(columns={91:"values"})
df_par_clean1

                level_1              level_2           values
0   Country / territory  Country / territory           France
1                 Place                Place            Paris
2        First lockdown           Start date              NaN
3        First lockdown             End date              NaN
4        First lockdown        Length (days)               55
5       Second lockdown           Start date              NaN
6       Second lockdown             End date              NaN
7       Second lockdown        Length (days)               46
8        Third lockdown           Start date  2021-03-19[252]
9        Third lockdown             End date       2021-04-18
10       Third lockdown        Length (days)               30
11      Fourth lockdown           Start date              NaN
12      Fourth lockdown             End date              NaN
13      Fourth lockdown        Length (days)              NaN
14       Fifth lockdown           Start date              NaN
15       Fifth lockdown             End date              NaN
16       Fifth lockdown        Length (days)              NaN
17       Sixth lockdown           Start date              NaN
18       Sixth lockdown             End date              NaN
19       Sixth lockdown        Length (days)              NaN
20     Seventh lockdown           Start date              NaN
21     Seventh lockdown             End date              NaN
22     Seventh lockdown        Length (days)              NaN
23      Eighth lockdown           Start date              NaN
24      Eighth lockdown             End date              NaN
25      Eighth lockdown        Length (days)              NaN
26  Total length (days)  Total length (days)              131
27                Level                Level           Region
28  Unnamed: 28_level_1  Unnamed: 28_level_2              NaN

In [37]:
df_par_clean2 = pd.pivot(df_par_clean1,columns=["level_1","level_2"],values="values")
df_par_clean2

level_1 Country / territory  Place First lockdown                         \
level_2 Country / territory  Place     Start date End date Length (days)
0                    France    NaN            NaN      NaN           NaN
1                       NaN  Paris            NaN      NaN           NaN
2                       NaN    NaN            NaN      NaN           NaN
3                       NaN    NaN            NaN      NaN           NaN
4                       NaN    NaN            NaN      NaN            55
5                       NaN    NaN            NaN      NaN           NaN
6                       NaN    NaN            NaN      NaN           NaN
7                       NaN    NaN            NaN      NaN           NaN
8                       NaN    NaN            NaN      NaN           NaN
9                       NaN    NaN            NaN      NaN           NaN
10                      NaN    NaN            NaN      NaN           NaN
11                      NaN    NaN            NaN      NaN           NaN
12                      NaN    NaN            NaN      NaN           NaN
13                      NaN    NaN            NaN      NaN           NaN
14                      NaN    NaN            NaN      NaN           NaN
15                      NaN    NaN            NaN      NaN           NaN
16                      NaN    NaN            NaN      NaN           NaN
17                      NaN    NaN            NaN      NaN           NaN
18                      NaN    NaN            NaN      NaN           NaN
19                      NaN    NaN            NaN      NaN           NaN
20                      NaN    NaN            NaN      NaN           NaN
21                      NaN    NaN            NaN      NaN           NaN
22                      NaN    NaN            NaN      NaN           NaN
23                      NaN    NaN            NaN      NaN           NaN
24                      NaN    NaN            NaN      NaN           NaN
25                      NaN    NaN            NaN      NaN           NaN
26                      NaN    NaN            NaN      NaN           NaN
27                      NaN    NaN            NaN      NaN           NaN
28                      NaN    NaN            NaN      NaN           NaN

level_1 Second lockdown                          Third lockdown              \
level_2      Start date End date Length (days)       Start date    End date
0                   NaN      NaN           NaN              NaN         NaN
1                   NaN      NaN           NaN              NaN         NaN
2                   NaN      NaN           NaN              NaN         NaN
3                   NaN      NaN           NaN              NaN         NaN
4                   NaN      NaN           NaN              NaN         NaN
5                   NaN      NaN           NaN              NaN         NaN
6                   NaN      NaN           NaN              NaN         NaN
7                   NaN      NaN            46              NaN         NaN
8                   NaN      NaN           NaN  2021-03-19[252]         NaN
9                   NaN      NaN           NaN              NaN  2021-04-18
10                  NaN      NaN           NaN              NaN         NaN
11                  NaN      NaN           NaN              NaN         NaN
12                  NaN      NaN           NaN              NaN         NaN
13                  NaN      NaN           NaN              NaN         NaN
14                  NaN      NaN           NaN              NaN         NaN
15                  NaN      NaN           NaN              NaN         NaN
16                  NaN      NaN           NaN              NaN         NaN
17                  NaN      NaN           NaN              NaN         NaN
18                  NaN      NaN           NaN              NaN         NaN
19                  NaN      NaN           NaN              NaN         NaN
20                  NaN      NaN           NaN              NaN         NaN
21                  NaN      NaN           NaN              NaN         NaN
22                  NaN      NaN           NaN              NaN         NaN
23                  NaN      NaN           NaN              NaN         NaN
24                  NaN      NaN           NaN              NaN         NaN
25                  NaN      NaN           NaN              NaN         NaN
26                  NaN      NaN           NaN              NaN         NaN
27                  NaN      NaN           NaN              NaN         NaN
28                  NaN      NaN           NaN              NaN         NaN

level_1  ... Sixth lockdown Seventh lockdown                         \
level_2  ...  Length (days)       Start date End date Length (days)
0        ...            NaN              NaN      NaN           NaN
1        ...            NaN              NaN      NaN           NaN
2        ...            NaN              NaN      NaN           NaN
3        ...            NaN              NaN      NaN           NaN
4        ...            NaN              NaN      NaN           NaN
5        ...            NaN              NaN      NaN           NaN
6        ...            NaN              NaN      NaN           NaN
7        ...            NaN              NaN      NaN           NaN
8        ...            NaN              NaN      NaN           NaN
9        ...            NaN              NaN      NaN           NaN
10       ...            NaN              NaN      NaN           NaN
11       ...            NaN              NaN      NaN           NaN
12       ...            NaN              NaN      NaN           NaN
13       ...            NaN              NaN      NaN           NaN
14       ...            NaN              NaN      NaN           NaN
15       ...            NaN              NaN      NaN           NaN
16       ...            NaN              NaN      NaN           NaN
17       ...            NaN              NaN      NaN           NaN
18       ...            NaN              NaN      NaN           NaN
19       ...            NaN              NaN      NaN           NaN
20       ...            NaN              NaN      NaN           NaN
21       ...            NaN              NaN      NaN           NaN
22       ...            NaN              NaN      NaN           NaN
23       ...            NaN              NaN      NaN           NaN
24       ...            NaN              NaN      NaN           NaN
25       ...            NaN              NaN      NaN           NaN
26       ...            NaN              NaN      NaN           NaN
27       ...            NaN              NaN      NaN           NaN
28       ...            NaN              NaN      NaN           NaN

level_1 Eighth lockdown                        Total length (days)   Level  \
level_2      Start date End date Length (days) Total length (days)   Level
0                   NaN      NaN           NaN                 NaN     NaN
1                   NaN      NaN           NaN                 NaN     NaN
2                   NaN      NaN           NaN                 NaN     NaN
3                   NaN      NaN           NaN                 NaN     NaN
4                   NaN      NaN           NaN                 NaN     NaN
5                   NaN      NaN           NaN                 NaN     NaN
6                   NaN      NaN           NaN                 NaN     NaN
7                   NaN      NaN           NaN                 NaN     NaN
8                   NaN      NaN           NaN                 NaN     NaN
9                   NaN      NaN           NaN                 NaN     NaN
10                  NaN      NaN           NaN                 NaN     NaN
11                  NaN      NaN           NaN                 NaN     NaN
12                  NaN      NaN           NaN                 NaN     NaN
13                  NaN      NaN           NaN                 NaN     NaN
14                  NaN      NaN           NaN                 NaN     NaN
15                  NaN      NaN           NaN                 NaN     NaN
16                  NaN      NaN           NaN                 NaN     NaN
17                  NaN      NaN           NaN                 NaN     NaN
18                  NaN      NaN           NaN                 NaN     NaN
19                  NaN      NaN           NaN                 NaN     NaN
20                  NaN      NaN           NaN                 NaN     NaN
21                  NaN      NaN           NaN                 NaN     NaN
22                  NaN      NaN           NaN                 NaN     NaN
23                  NaN      NaN           NaN                 NaN     NaN
24                  NaN      NaN           NaN                 NaN     NaN
25                  NaN      NaN           NaN                 NaN     NaN
26                  NaN      NaN           NaN                 131     NaN
27                  NaN      NaN           NaN                 NaN  Region
28                  NaN      NaN           NaN                 NaN     NaN

level_1 Unnamed: 28_level_1
level_2 Unnamed: 28_level_2
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
5                       NaN
6                       NaN
7                       NaN
8                       NaN
9                       NaN
10                      NaN
11                      NaN
12                      NaN
13                      NaN
14                      NaN
15                      NaN
16                      NaN
17                      NaN
18                      NaN
19                      NaN
20                      NaN
21                      NaN
22                      NaN
23                      NaN
24                      NaN
25                      NaN
26                      NaN
27                      NaN
28                      NaN

[29 rows x 29 columns]

In [60]:
# df_par_clean2.rename_axis(None,axis=1,names=['level_1','level_2'])
# df_par_clean2.index
# df_par_clean2.head()

level_1 Country / territory  Place First lockdown                         \
level_2 Country / territory  Place     Start date End date Length (days)
0                    France    NaN            NaN      NaN           NaN
1                       NaN  Paris            NaN      NaN           NaN
2                       NaN    NaN            NaN      NaN           NaN
3                       NaN    NaN            NaN      NaN           NaN
4                       NaN    NaN            NaN      NaN            55
5                       NaN    NaN            NaN      NaN           NaN
6                       NaN    NaN            NaN      NaN           NaN
7                       NaN    NaN            NaN      NaN           NaN
8                       NaN    NaN            NaN      NaN           NaN
9                       NaN    NaN            NaN      NaN           NaN
10                      NaN    NaN            NaN      NaN           NaN
11                      NaN    NaN            NaN      NaN           NaN
12                      NaN    NaN            NaN      NaN           NaN
13                      NaN    NaN            NaN      NaN           NaN
14                      NaN    NaN            NaN      NaN           NaN
15                      NaN    NaN            NaN      NaN           NaN
16                      NaN    NaN            NaN      NaN           NaN
17                      NaN    NaN            NaN      NaN           NaN
18                      NaN    NaN            NaN      NaN           NaN
19                      NaN    NaN            NaN      NaN           NaN
20                      NaN    NaN            NaN      NaN           NaN
21                      NaN    NaN            NaN      NaN           NaN
22                      NaN    NaN            NaN      NaN           NaN
23                      NaN    NaN            NaN      NaN           NaN
24                      NaN    NaN            NaN      NaN           NaN
25                      NaN    NaN            NaN      NaN           NaN
26                      NaN    NaN            NaN      NaN           NaN
27                      NaN    NaN            NaN      NaN           NaN
28                      NaN    NaN            NaN      NaN           NaN

level_1 Second lockdown                          Third lockdown              \
level_2      Start date End date Length (days)       Start date    End date
0                   NaN      NaN           NaN              NaN         NaN
1                   NaN      NaN           NaN              NaN         NaN
2                   NaN      NaN           NaN              NaN         NaN
3                   NaN      NaN           NaN              NaN         NaN
4                   NaN      NaN           NaN              NaN         NaN
5                   NaN      NaN           NaN              NaN         NaN
6                   NaN      NaN           NaN              NaN         NaN
7                   NaN      NaN            46              NaN         NaN
8                   NaN      NaN           NaN  2021-03-19[252]         NaN
9                   NaN      NaN           NaN              NaN  2021-04-18
10                  NaN      NaN           NaN              NaN         NaN
11                  NaN      NaN           NaN              NaN         NaN
12                  NaN      NaN           NaN              NaN         NaN
13                  NaN      NaN           NaN              NaN         NaN
14                  NaN      NaN           NaN              NaN         NaN
15                  NaN      NaN           NaN              NaN         NaN
16                  NaN      NaN           NaN              NaN         NaN
17                  NaN      NaN           NaN              NaN         NaN
18                  NaN      NaN           NaN              NaN         NaN
19                  NaN      NaN           NaN              NaN         NaN
20                  NaN      NaN           NaN              NaN         NaN
21                  NaN      NaN           NaN              NaN         NaN
22                  NaN      NaN           NaN              NaN         NaN
23                  NaN      NaN           NaN              NaN         NaN
24                  NaN      NaN           NaN              NaN         NaN
25                  NaN      NaN           NaN              NaN         NaN
26                  NaN      NaN           NaN              NaN         NaN
27                  NaN      NaN           NaN              NaN         NaN
28                  NaN      NaN           NaN              NaN         NaN

level_1  ... Sixth lockdown Seventh lockdown                         \
level_2  ...  Length (days)       Start date End date Length (days)
0        ...            NaN              NaN      NaN           NaN
1        ...            NaN              NaN      NaN           NaN
2        ...            NaN              NaN      NaN           NaN
3        ...            NaN              NaN      NaN           NaN
4        ...            NaN              NaN      NaN           NaN
5        ...            NaN              NaN      NaN           NaN
6        ...            NaN              NaN      NaN           NaN
7        ...            NaN              NaN      NaN           NaN
8        ...            NaN              NaN      NaN           NaN
9        ...            NaN              NaN      NaN           NaN
10       ...            NaN              NaN      NaN           NaN
11       ...            NaN              NaN      NaN           NaN
12       ...            NaN              NaN      NaN           NaN
13       ...            NaN              NaN      NaN           NaN
14       ...            NaN              NaN      NaN           NaN
15       ...            NaN              NaN      NaN           NaN
16       ...            NaN              NaN      NaN           NaN
17       ...            NaN              NaN      NaN           NaN
18       ...            NaN              NaN      NaN           NaN
19       ...            NaN              NaN      NaN           NaN
20       ...            NaN              NaN      NaN           NaN
21       ...            NaN              NaN      NaN           NaN
22       ...            NaN              NaN      NaN           NaN
23       ...            NaN              NaN      NaN           NaN
24       ...            NaN              NaN      NaN           NaN
25       ...            NaN              NaN      NaN           NaN
26       ...            NaN              NaN      NaN           NaN
27       ...            NaN              NaN      NaN           NaN
28       ...            NaN              NaN      NaN           NaN

level_1 Eighth lockdown                        Total length (days)   Level  \
level_2      Start date End date Length (days) Total length (days)   Level
0                   NaN      NaN           NaN                 NaN     NaN
1                   NaN      NaN           NaN                 NaN     NaN
2                   NaN      NaN           NaN                 NaN     NaN
3                   NaN      NaN           NaN                 NaN     NaN
4                   NaN      NaN           NaN                 NaN     NaN
5                   NaN      NaN           NaN                 NaN     NaN
6                   NaN      NaN           NaN                 NaN     NaN
7                   NaN      NaN           NaN                 NaN     NaN
8                   NaN      NaN           NaN                 NaN     NaN
9                   NaN      NaN           NaN                 NaN     NaN
10                  NaN      NaN           NaN                 NaN     NaN
11                  NaN      NaN           NaN                 NaN     NaN
12                  NaN      NaN           NaN                 NaN     NaN
13                  NaN      NaN           NaN                 NaN     NaN
14                  NaN      NaN           NaN                 NaN     NaN
15                  NaN      NaN           NaN                 NaN     NaN
16                  NaN      NaN           NaN                 NaN     NaN
17                  NaN      NaN           NaN                 NaN     NaN
18                  NaN      NaN           NaN                 NaN     NaN
19                  NaN      NaN           NaN                 NaN     NaN
20                  NaN      NaN           NaN                 NaN     NaN
21                  NaN      NaN           NaN                 NaN     NaN
22                  NaN      NaN           NaN                 NaN     NaN
23                  NaN      NaN           NaN                 NaN     NaN
24                  NaN      NaN           NaN                 NaN     NaN
25                  NaN      NaN           NaN                 NaN     NaN
26                  NaN      NaN           NaN                 131     NaN
27                  NaN      NaN           NaN                 NaN  Region
28                  NaN      NaN           NaN                 NaN     NaN

level_1 Unnamed: 28_level_1
level_2 Unnamed: 28_level_2
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
5                       NaN
6                       NaN
7                       NaN
8                       NaN
9                       NaN
10                      NaN
11                      NaN
12                      NaN
13                      NaN
14                      NaN
15                      NaN
16                      NaN
17                      NaN
18                      NaN
19                      NaN
20                      NaN
21                      NaN
22                      NaN
23                      NaN
24                      NaN
25                      NaN
26                      NaN
27                      NaN
28                      NaN

[29 rows x 29 columns]

In [69]:
df_par_clean3 = df_par_clean2.copy()
df_par_clean3.iloc[0,:] = df_par_clean1['values']
df_par_clean3.head()

level_1 Country / territory  Place First lockdown                         \
level_2 Country / territory  Place     Start date End date Length (days)
0                    France  Paris            NaN      NaN            55
1                       NaN  Paris            NaN      NaN           NaN
2                       NaN    NaN            NaN      NaN           NaN
3                       NaN    NaN            NaN      NaN           NaN
4                       NaN    NaN            NaN      NaN            55

level_1 Second lockdown                          Third lockdown              \
level_2      Start date End date Length (days)       Start date    End date
0                   NaN      NaN            46  2021-03-19[252]  2021-04-18
1                   NaN      NaN           NaN              NaN         NaN
2                   NaN      NaN           NaN              NaN         NaN
3                   NaN      NaN           NaN              NaN         NaN
4                   NaN      NaN           NaN              NaN         NaN

level_1  ... Sixth lockdown Seventh lockdown                         \
level_2  ...  Length (days)       Start date End date Length (days)
0        ...            NaN              NaN      NaN           NaN
1        ...            NaN              NaN      NaN           NaN
2        ...            NaN              NaN      NaN           NaN
3        ...            NaN              NaN      NaN           NaN
4        ...            NaN              NaN      NaN           NaN

level_1 Eighth lockdown                        Total length (days)   Level  \
level_2      Start date End date Length (days) Total length (days)   Level
0                   NaN      NaN           NaN                 131  Region
1                   NaN      NaN           NaN                 NaN     NaN
2                   NaN      NaN           NaN                 NaN     NaN
3                   NaN      NaN           NaN                 NaN     NaN
4                   NaN      NaN           NaN                 NaN     NaN

level_1 Unnamed: 28_level_1
level_2 Unnamed: 28_level_2
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN

[5 rows x 29 columns]

In [76]:
df_par_clean3 = df_par_clean3.drop(labels=range(1,len(df_par_clean3)),axis=0)
df_par_clean3

level_1 Country / territory  Place First lockdown                         \
level_2 Country / territory  Place     Start date End date Length (days)
0                    France  Paris            NaN      NaN            55

level_1 Second lockdown                          Third lockdown              \
level_2      Start date End date Length (days)       Start date    End date
0                   NaN      NaN            46  2021-03-19[252]  2021-04-18

level_1               Fourth lockdown                        Fifth lockdown  \
level_2 Length (days)      Start date End date Length (days)     Start date
0                  30             NaN      NaN           NaN            NaN

level_1                        Sixth lockdown                         \
level_2 End date Length (days)     Start date End date Length (days)
0            NaN           NaN            NaN      NaN           NaN

level_1 Seventh lockdown                        Eighth lockdown           \
level_2       Start date End date Length (days)      Start date End date
0                    NaN      NaN           NaN             NaN      NaN

level_1               Total length (days)   Level Unnamed: 28_level_1
level_2 Length (days) Total length (days)   Level Unnamed: 28_level_2
0                 NaN                 131  Region                 NaN

In [74]:
df_nat_clean = df_nat.reset_index().drop('level_0',axis=1)
df_nat_clean1 = df_nat_clean.rename(columns={90:"values"})
df_nat_clean2 = pd.pivot(df_nat_clean1,columns=["level_1","level_2"],values="values")
df_nat_clean2.head(5)

level_1 Country / territory       Place   First lockdown                   \
level_2 Country / territory       Place       Start date         End date
0                    France         NaN              NaN              NaN
1                       NaN  Nationwide              NaN              NaN
2                       NaN         NaN  2020-03-17[247]              NaN
3                       NaN         NaN              NaN  2020-05-11[248]
4                       NaN         NaN              NaN              NaN
5                       NaN         NaN              NaN              NaN
6                       NaN         NaN              NaN              NaN
7                       NaN         NaN              NaN              NaN
8                       NaN         NaN              NaN              NaN
9                       NaN         NaN              NaN              NaN
10                      NaN         NaN              NaN              NaN
11                      NaN         NaN              NaN              NaN
12                      NaN         NaN              NaN              NaN
13                      NaN         NaN              NaN              NaN
14                      NaN         NaN              NaN              NaN
15                      NaN         NaN              NaN              NaN
16                      NaN         NaN              NaN              NaN
17                      NaN         NaN              NaN              NaN
18                      NaN         NaN              NaN              NaN
19                      NaN         NaN              NaN              NaN
20                      NaN         NaN              NaN              NaN
21                      NaN         NaN              NaN              NaN
22                      NaN         NaN              NaN              NaN
23                      NaN         NaN              NaN              NaN
24                      NaN         NaN              NaN              NaN
25                      NaN         NaN              NaN              NaN
26                      NaN         NaN              NaN              NaN
27                      NaN         NaN              NaN              NaN
28                      NaN         NaN              NaN              NaN

level_1                Second lockdown                                 \
level_2 Length (days)       Start date         End date Length (days)
0                 NaN              NaN              NaN           NaN
1                 NaN              NaN              NaN           NaN
2                 NaN              NaN              NaN           NaN
3                 NaN              NaN              NaN           NaN
4                  55              NaN              NaN           NaN
5                 NaN  2020-10-30[249]              NaN           NaN
6                 NaN              NaN  2020-12-15[250]           NaN
7                 NaN              NaN              NaN            46
8                 NaN              NaN              NaN           NaN
9                 NaN              NaN              NaN           NaN
10                NaN              NaN              NaN           NaN
11                NaN              NaN              NaN           NaN
12                NaN              NaN              NaN           NaN
13                NaN              NaN              NaN           NaN
14                NaN              NaN              NaN           NaN
15                NaN              NaN              NaN           NaN
16                NaN              NaN              NaN           NaN
17                NaN              NaN              NaN           NaN
18                NaN              NaN              NaN           NaN
19                NaN              NaN              NaN           NaN
20                NaN              NaN              NaN           NaN
21                NaN              NaN              NaN           NaN
22                NaN              NaN              NaN           NaN
23                NaN              NaN              NaN           NaN
24                NaN              NaN              NaN           NaN
25                NaN              NaN              NaN           NaN
26                NaN              NaN              NaN           NaN
27                NaN              NaN              NaN           NaN
28                NaN              NaN              NaN           NaN

level_1   Third lockdown                                Fourth lockdown  \
level_2       Start date         End date Length (days)      Start date
0                    NaN              NaN           NaN             NaN
1                    NaN              NaN           NaN             NaN
2                    NaN              NaN           NaN             NaN
3                    NaN              NaN           NaN             NaN
4                    NaN              NaN           NaN             NaN
5                    NaN              NaN           NaN             NaN
6                    NaN              NaN           NaN             NaN
7                    NaN              NaN           NaN             NaN
8        2021-04-04[251]              NaN           NaN             NaN
9                    NaN  2021-05-03[251]           NaN             NaN
10                   NaN              NaN            29             NaN
11                   NaN              NaN           NaN             NaN
12                   NaN              NaN           NaN             NaN
13                   NaN              NaN           NaN             NaN
14                   NaN              NaN           NaN             NaN
15                   NaN              NaN           NaN             NaN
16                   NaN              NaN           NaN             NaN
17                   NaN              NaN           NaN             NaN
18                   NaN              NaN           NaN             NaN
19                   NaN              NaN           NaN             NaN
20                   NaN              NaN           NaN             NaN
21                   NaN              NaN           NaN             NaN
22                   NaN              NaN           NaN             NaN
23                   NaN              NaN           NaN             NaN
24                   NaN              NaN           NaN             NaN
25                   NaN              NaN           NaN             NaN
26                   NaN              NaN           NaN             NaN
27                   NaN              NaN           NaN             NaN
28                   NaN              NaN           NaN             NaN

level_1                        Fifth lockdown                         \
level_2 End date Length (days)     Start date End date Length (days)
0            NaN           NaN            NaN      NaN           NaN
1            NaN           NaN            NaN      NaN           NaN
2            NaN           NaN            NaN      NaN           NaN
3            NaN           NaN            NaN      NaN           NaN
4            NaN           NaN            NaN      NaN           NaN
5            NaN           NaN            NaN      NaN           NaN
6            NaN           NaN            NaN      NaN           NaN
7            NaN           NaN            NaN      NaN           NaN
8            NaN           NaN            NaN      NaN           NaN
9            NaN           NaN            NaN      NaN           NaN
10           NaN           NaN            NaN      NaN           NaN
11           NaN           NaN            NaN      NaN           NaN
12           NaN           NaN            NaN      NaN           NaN
13           NaN           NaN            NaN      NaN           NaN
14           NaN           NaN            NaN      NaN           NaN
15           NaN           NaN            NaN      NaN           NaN
16           NaN           NaN            NaN      NaN           NaN
17           NaN           NaN            NaN      NaN           NaN
18           NaN           NaN            NaN      NaN           NaN
19           NaN           NaN            NaN      NaN           NaN
20           NaN           NaN            NaN      NaN           NaN
21           NaN           NaN            NaN      NaN           NaN
22           NaN           NaN            NaN      NaN           NaN
23           NaN           NaN            NaN      NaN           NaN
24           NaN           NaN            NaN      NaN           NaN
25           NaN           NaN            NaN      NaN           NaN
26           NaN           NaN            NaN      NaN           NaN
27           NaN           NaN            NaN      NaN           NaN
28           NaN           NaN            NaN      NaN           NaN

level_1 Sixth lockdown                        Seventh lockdown           \
level_2     Start date End date Length (days)       Start date End date
0                  NaN      NaN           NaN              NaN      NaN
1                  NaN      NaN           NaN              NaN      NaN
2                  NaN      NaN           NaN              NaN      NaN
3                  NaN      NaN           NaN              NaN      NaN
4                  NaN      NaN           NaN              NaN      NaN
5                  NaN      NaN           NaN              NaN      NaN
6                  NaN      NaN           NaN              NaN      NaN
7                  NaN      NaN           NaN              NaN      NaN
8                  NaN      NaN           NaN              NaN      NaN
9                  NaN      NaN           NaN              NaN      NaN
10                 NaN      NaN           NaN              NaN      NaN
11                 NaN      NaN           NaN              NaN      NaN
12                 NaN      NaN           NaN              NaN      NaN
13                 NaN      NaN           NaN              NaN      NaN
14                 NaN      NaN           NaN              NaN      NaN
15                 NaN      NaN           NaN              NaN      NaN
16                 NaN      NaN           NaN              NaN      NaN
17                 NaN      NaN           NaN              NaN      NaN
18                 NaN      NaN           NaN              NaN      NaN
19                 NaN      NaN           NaN              NaN      NaN
20                 NaN      NaN           NaN              NaN      NaN
21                 NaN      NaN           NaN              NaN      NaN
22                 NaN      NaN           NaN              NaN      NaN
23                 NaN      NaN           NaN              NaN      NaN
24                 NaN      NaN           NaN              NaN      NaN
25                 NaN      NaN           NaN              NaN      NaN
26                 NaN      NaN           NaN              NaN      NaN
27                 NaN      NaN           NaN              NaN      NaN
28                 NaN      NaN           NaN              NaN      NaN

level_1               Eighth lockdown                         \
level_2 Length (days)      Start date End date Length (days)
0                 NaN             NaN      NaN           NaN
1                 NaN             NaN      NaN           NaN
2                 NaN             NaN      NaN           NaN
3                 NaN             NaN      NaN           NaN
4                 NaN             NaN      NaN           NaN
5                 NaN             NaN      NaN           NaN
6                 NaN             NaN      NaN           NaN
7                 NaN             NaN      NaN           NaN
8                 NaN             NaN      NaN           NaN
9                 NaN             NaN      NaN           NaN
10                NaN             NaN      NaN           NaN
11                NaN             NaN      NaN           NaN
12                NaN             NaN      NaN           NaN
13                NaN             NaN      NaN           NaN
14                NaN             NaN      NaN           NaN
15                NaN             NaN      NaN           NaN
16                NaN             NaN      NaN           NaN
17                NaN             NaN      NaN           NaN
18                NaN             NaN      NaN           NaN
19                NaN             NaN      NaN           NaN
20                NaN             NaN      NaN           NaN
21                NaN             NaN      NaN           NaN
22                NaN             NaN      NaN           NaN
23                NaN             NaN      NaN           NaN
24                NaN             NaN      NaN           NaN
25                NaN             NaN      NaN           NaN
26                NaN             NaN      NaN           NaN
27                NaN             NaN      NaN           NaN
28                NaN             NaN      NaN           NaN

level_1 Total length (days)     Level Unnamed: 28_level_1
level_2 Total length (days)     Level Unnamed: 28_level_2
0                       NaN       NaN                 NaN
1                       NaN       NaN                 NaN
2                       NaN       NaN                 NaN
3                       NaN       NaN                 NaN
4                       NaN       NaN                 NaN
5                       NaN       NaN                 NaN
6                       NaN       NaN                 NaN
7                       NaN       NaN                 NaN
8                       NaN       NaN                 NaN
9                       NaN       NaN                 NaN
10                      NaN       NaN                 NaN
11                      NaN       NaN                 NaN
12                      NaN       NaN                 NaN
13                      NaN       NaN                 NaN
14                      NaN       NaN                 NaN
15                      NaN       NaN                 NaN
16                      NaN       NaN                 NaN
17                      NaN       NaN                 NaN
18                      NaN       NaN                 NaN
19                      NaN       NaN                 NaN
20                      NaN       NaN                 NaN
21                      NaN       NaN                 NaN
22                      NaN       NaN                 NaN
23                      NaN       NaN                 NaN
24                      NaN       NaN                 NaN
25                      NaN       NaN                 NaN
26                      130       NaN                 NaN
27                      NaN  National                 NaN
28                      NaN       NaN                 NaN

In [75]:
df_nat_clean3 = df_nat_clean2.copy()
df_nat_clean3.iloc[0,:] = df_nat_clean1['values']
df_nat_clean3.head()

level_1 Country / territory       Place   First lockdown                   \
level_2 Country / territory       Place       Start date         End date
0                    France  Nationwide  2020-03-17[247]  2020-05-11[248]
1                       NaN  Nationwide              NaN              NaN
2                       NaN         NaN  2020-03-17[247]              NaN
3                       NaN         NaN              NaN  2020-05-11[248]
4                       NaN         NaN              NaN              NaN

level_1                Second lockdown                                 \
level_2 Length (days)       Start date         End date Length (days)
0                  55  2020-10-30[249]  2020-12-15[250]            46
1                 NaN              NaN              NaN           NaN
2                 NaN              NaN              NaN           NaN
3                 NaN              NaN              NaN           NaN
4                  55              NaN              NaN           NaN

level_1   Third lockdown                                Fourth lockdown  \
level_2       Start date         End date Length (days)      Start date
0        2021-04-04[251]  2021-05-03[251]            29             NaN
1                    NaN              NaN           NaN             NaN
2                    NaN              NaN           NaN             NaN
3                    NaN              NaN           NaN             NaN
4                    NaN              NaN           NaN             NaN

level_1                        Fifth lockdown                         \
level_2 End date Length (days)     Start date End date Length (days)
0            NaN           NaN            NaN      NaN           NaN
1            NaN           NaN            NaN      NaN           NaN
2            NaN           NaN            NaN      NaN           NaN
3            NaN           NaN            NaN      NaN           NaN
4            NaN           NaN            NaN      NaN           NaN

level_1 Sixth lockdown                        Seventh lockdown           \
level_2     Start date End date Length (days)       Start date End date
0                  NaN      NaN           NaN              NaN      NaN
1                  NaN      NaN           NaN              NaN      NaN
2                  NaN      NaN           NaN              NaN      NaN
3                  NaN      NaN           NaN              NaN      NaN
4                  NaN      NaN           NaN              NaN      NaN

level_1               Eighth lockdown                         \
level_2 Length (days)      Start date End date Length (days)
0                 NaN             NaN      NaN           NaN
1                 NaN             NaN      NaN           NaN
2                 NaN             NaN      NaN           NaN
3                 NaN             NaN      NaN           NaN
4                 NaN             NaN      NaN           NaN

level_1 Total length (days)     Level Unnamed: 28_level_1
level_2 Total length (days)     Level Unnamed: 28_level_2
0                       130  National                 NaN
1                       NaN       NaN                 NaN
2                       NaN       NaN                 NaN
3                       NaN       NaN                 NaN
4                       NaN       NaN                 NaN

In [77]:
df_nat_clean3 = df_nat_clean3.drop(labels=range(1,len(df_nat_clean3)),axis=0)
df_nat_clean3

level_1 Country / territory       Place   First lockdown                   \
level_2 Country / territory       Place       Start date         End date
0                    France  Nationwide  2020-03-17[247]  2020-05-11[248]

level_1                Second lockdown                                 \
level_2 Length (days)       Start date         End date Length (days)
0                  55  2020-10-30[249]  2020-12-15[250]            46

level_1   Third lockdown                                Fourth lockdown  \
level_2       Start date         End date Length (days)      Start date
0        2021-04-04[251]  2021-05-03[251]            29             NaN

level_1                        Fifth lockdown                         \
level_2 End date Length (days)     Start date End date Length (days)
0            NaN           NaN            NaN      NaN           NaN

level_1 Sixth lockdown                        Seventh lockdown           \
level_2     Start date End date Length (days)       Start date End date
0                  NaN      NaN           NaN              NaN      NaN

level_1               Eighth lockdown                         \
level_2 Length (days)      Start date End date Length (days)
0                 NaN             NaN      NaN           NaN

level_1 Total length (days)     Level Unnamed: 28_level_1
level_2 Total length (days)     Level Unnamed: 28_level_2
0                       130  National                 NaN

In [80]:
df_nat_clean3.set_index(['Country / territory'])

level_1                   Place   First lockdown                   \
level_2                   Place       Start date         End date
Country / territory
(France,)            Nationwide  2020-03-17[247]  2020-05-11[248]

level_1                            Second lockdown                   \
level_2             Length (days)       Start date         End date
Country / territory
(France,)                      55  2020-10-30[249]  2020-12-15[250]

level_1                             Third lockdown                   \
level_2             Length (days)       Start date         End date
Country / territory
(France,)                      46  2021-04-04[251]  2021-05-03[251]

level_1                           Fourth lockdown                         \
level_2             Length (days)      Start date End date Length (days)
Country / territory
(France,)                      29             NaN      NaN           NaN

level_1             Fifth lockdown                        Sixth lockdown  \
level_2                 Start date End date Length (days)     Start date
Country / territory
(France,)                      NaN      NaN           NaN            NaN

level_1                                    Seventh lockdown           \
level_2             End date Length (days)       Start date End date
Country / territory
(France,)                NaN           NaN              NaN      NaN

level_1                           Eighth lockdown                         \
level_2             Length (days)      Start date End date Length (days)
Country / territory
(France,)                     NaN             NaN      NaN           NaN

level_1             Total length (days)     Level Unnamed: 28_level_1
level_2             Total length (days)     Level Unnamed: 28_level_2
Country / territory
(France,)                           130  National                 NaN

In [85]:
df_nat_clean3 = df_nat_clean3.replace(to_replace ='\[.*', value = '', regex = True)
df_nat_clean3

level_1 Country / territory       Place First lockdown              \
level_2 Country / territory       Place     Start date    End date
0                    France  Nationwide     2020-03-17  2020-05-11

level_1               Second lockdown                            \
level_2 Length (days)      Start date    End date Length (days)
0                  55      2020-10-30  2020-12-15            46

level_1 Third lockdown                           Fourth lockdown           \
level_2     Start date    End date Length (days)      Start date End date
0           2021-04-04  2021-05-03            29             NaN      NaN

level_1               Fifth lockdown                        Sixth lockdown  \
level_2 Length (days)     Start date End date Length (days)     Start date
0                 NaN            NaN      NaN           NaN            NaN

level_1                        Seventh lockdown                         \
level_2 End date Length (days)       Start date End date Length (days)
0            NaN           NaN              NaN      NaN           NaN

level_1 Eighth lockdown                        Total length (days)     Level  \
level_2      Start date End date Length (days) Total length (days)     Level
0                   NaN      NaN           NaN                 130  National

level_1 Unnamed: 28_level_1
level_2 Unnamed: 28_level_2
0                       NaN

In [86]:
df_par_clean3 = df_par_clean3.replace(to_replace ='\[.*', value = '', regex = True)
df_par_clean3

level_1 Country / territory  Place First lockdown                         \
level_2 Country / territory  Place     Start date End date Length (days)
0                    France  Paris            NaN      NaN            55

level_1 Second lockdown                        Third lockdown              \
level_2      Start date End date Length (days)     Start date    End date
0                   NaN      NaN            46     2021-03-19  2021-04-18

level_1               Fourth lockdown                        Fifth lockdown  \
level_2 Length (days)      Start date End date Length (days)     Start date
0                  30             NaN      NaN           NaN            NaN

level_1                        Sixth lockdown                         \
level_2 End date Length (days)     Start date End date Length (days)
0            NaN           NaN            NaN      NaN           NaN

level_1 Seventh lockdown                        Eighth lockdown           \
level_2       Start date End date Length (days)      Start date End date
0                    NaN      NaN           NaN             NaN      NaN

level_1               Total length (days)   Level Unnamed: 28_level_1
level_2 Length (days) Total length (days)   Level Unnamed: 28_level_2
0                 NaN                 131  Region                 NaN

In [89]:
df_nat_clean3.iloc[:,[2,3,5,6,8,9]]

level_1 First lockdown             Second lockdown             Third lockdown  \
level_2     Start date    End date      Start date    End date     Start date
0           2020-03-17  2020-05-11      2020-10-30  2020-12-15     2021-04-04

level_1
level_2    End date
0        2021-05-03

In [93]:
for i in [2,3,5,6,8,9,11,12,14,15,17,18,20,21,23,24]:
    df_nat_clean3.iloc[:,i] = pd.to_datetime(df_nat_clean3.iloc[:,i])
df_nat_clean3

level_1 Country / territory       Place First lockdown             \
level_2 Country / territory       Place     Start date   End date
0                    France  Nationwide     2020-03-17 2020-05-11

level_1               Second lockdown                          Third lockdown  \
level_2 Length (days)      Start date   End date Length (days)     Start date
0                  55      2020-10-30 2020-12-15            46     2021-04-04

level_1                          Fourth lockdown                         \
level_2   End date Length (days)      Start date End date Length (days)
0       2021-05-03            29             NaT      NaT           NaN

level_1 Fifth lockdown                        Sixth lockdown           \
level_2     Start date End date Length (days)     Start date End date
0                  NaT      NaT           NaN            NaT      NaT

level_1               Seventh lockdown                        Eighth lockdown  \
level_2 Length (days)       Start date End date Length (days)      Start date
0                 NaN              NaT      NaT           NaN             NaT

level_1                        Total length (days)     Level  \
level_2 End date Length (days) Total length (days)     Level
0            NaT           NaN                 130  National

level_1 Unnamed: 28_level_1
level_2 Unnamed: 28_level_2
0                       NaN

In [94]:
df_nat_clean3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 29 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   (Country / territory, Country / territory)  1 non-null      object
 1   (Place, Place)                              1 non-null      object
 2   (First lockdown, Start date)                1 non-null      datetime64[ns]
 3   (First lockdown, End date)                  1 non-null      datetime64[ns]
 4   (First lockdown, Length (days))             1 non-null      object
 5   (Second lockdown, Start date)               1 non-null      datetime64[ns]
 6   (Second lockdown, End date)                 1 non-null      datetime64[ns]
 7   (Second lockdown, Length (days))            1 non-null      object
 8   (Third lockdown, Start date)                1 non-null      datetime64[ns]
 9   (Third lockdown, End date)                  1 non-null      datetime64[ns]
 10  (Third lockdown, Length (days))             1 non-null      object
 11  (Fourth lockdown, Start date)               0 non-null      datetime64[ns]
 12  (Fourth lockdown, End date)                 0 non-null      datetime64[ns]
 13  (Fourth lockdown, Length (days))            0 non-null      float64
 14  (Fifth lockdown, Start date)                0 non-null      datetime64[ns]
 15  (Fifth lockdown, End date)                  0 non-null      datetime64[ns]
 16  (Fifth lockdown, Length (days))             0 non-null      float64
 17  (Sixth lockdown, Start date)                0 non-null      datetime64[ns]
 18  (Sixth lockdown, End date)                  0 non-null      datetime64[ns]
 19  (Sixth lockdown, Length (days))             0 non-null      float64
 20  (Seventh lockdown, Start date)              0 non-null      datetime64[ns]
 21  (Seventh lockdown, End date)                0 non-null      datetime64[ns]
 22  (Seventh lockdown, Length (days))           0 non-null      float64
 23  (Eighth lockdown, Start date)               0 non-null      datetime64[ns]
 24  (Eighth lockdown, End date)                 0 non-null      datetime64[ns]
 25  (Eighth lockdown, Length (days))            0 non-null      float64
 26  (Total length (days), Total length (days))  1 non-null      object
 27  (Level, Level)                              1 non-null      object
 28  (Unnamed: 28_level_1, Unnamed: 28_level_2)  0 non-null      float64
dtypes: datetime64[ns](16), float64(6), object(7)
memory usage: 240.0+ bytes

In [95]:
for i in [2,3,5,6,8,9,11,12,14,15,17,18,20,21,23,24]:
    df_par_clean3.iloc[:,i] = pd.to_datetime(df_par_clean3.iloc[:,i])
df_par_clean3

level_1 Country / territory  Place First lockdown                         \
level_2 Country / territory  Place     Start date End date Length (days)
0                    France  Paris            NaT      NaT            55

level_1 Second lockdown                        Third lockdown             \
level_2      Start date End date Length (days)     Start date   End date
0                   NaT      NaT            46     2021-03-19 2021-04-18

level_1               Fourth lockdown                        Fifth lockdown  \
level_2 Length (days)      Start date End date Length (days)     Start date
0                  30             NaT      NaT           NaN            NaT

level_1                        Sixth lockdown                         \
level_2 End date Length (days)     Start date End date Length (days)
0            NaT           NaN            NaT      NaT           NaN

level_1 Seventh lockdown                        Eighth lockdown           \
level_2       Start date End date Length (days)      Start date End date
0                    NaT      NaT           NaN             NaT      NaT

level_1               Total length (days)   Level Unnamed: 28_level_1
level_2 Length (days) Total length (days)   Level Unnamed: 28_level_2
0                 NaN                 131  Region                 NaN

In [96]:
df_nat_clean3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 29 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   (Country / territory, Country / territory)  1 non-null      object
 1   (Place, Place)                              1 non-null      object
 2   (First lockdown, Start date)                1 non-null      datetime64[ns]
 3   (First lockdown, End date)                  1 non-null      datetime64[ns]
 4   (First lockdown, Length (days))             1 non-null      object
 5   (Second lockdown, Start date)               1 non-null      datetime64[ns]
 6   (Second lockdown, End date)                 1 non-null      datetime64[ns]
 7   (Second lockdown, Length (days))            1 non-null      object
 8   (Third lockdown, Start date)                1 non-null      datetime64[ns]
 9   (Third lockdown, End date)                  1 non-null      datetime64[ns]
 10  (Third lockdown, Length (days))             1 non-null      object
 11  (Fourth lockdown, Start date)               0 non-null      datetime64[ns]
 12  (Fourth lockdown, End date)                 0 non-null      datetime64[ns]
 13  (Fourth lockdown, Length (days))            0 non-null      float64
 14  (Fifth lockdown, Start date)                0 non-null      datetime64[ns]
 15  (Fifth lockdown, End date)                  0 non-null      datetime64[ns]
 16  (Fifth lockdown, Length (days))             0 non-null      float64
 17  (Sixth lockdown, Start date)                0 non-null      datetime64[ns]
 18  (Sixth lockdown, End date)                  0 non-null      datetime64[ns]
 19  (Sixth lockdown, Length (days))             0 non-null      float64
 20  (Seventh lockdown, Start date)              0 non-null      datetime64[ns]
 21  (Seventh lockdown, End date)                0 non-null      datetime64[ns]
 22  (Seventh lockdown, Length (days))           0 non-null      float64
 23  (Eighth lockdown, Start date)               0 non-null      datetime64[ns]
 24  (Eighth lockdown, End date)                 0 non-null      datetime64[ns]
 25  (Eighth lockdown, Length (days))            0 non-null      float64
 26  (Total length (days), Total length (days))  1 non-null      object
 27  (Level, Level)                              1 non-null      object
 28  (Unnamed: 28_level_1, Unnamed: 28_level_2)  0 non-null      float64
dtypes: datetime64[ns](16), float64(6), object(7)
memory usage: 240.0+ bytes